/* Global Styles */



/* Content Styles */
.home-main {
    padding-top: 55vh;
}
.container {
    padding: 2%;
    margin: 2vw;
    display: flex;
    background-color: #FFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 40px 0;
    align-items: center;
}

.container .photo img {
    width: 25vw;
    object-fit: cover;
    float: left;
}

.text-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.text-container .description {
    padding: 0 2vw;
    font-size: 1.4vw;
    text-align: center;
}

.card-title {
    align-self: center;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vh;
}

.card-title h3 {
    align-self: center;
}


.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;
}

.box {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    margin: 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
}

.half-width {
    flex: 1;
    width: calc(50% - 20px);
    margin-right: 20px;
}


/* Custom Text Colors */
.nav-links a,
.hero-btn {
    color: #fff; /* Navigation links and hero button text color */
}

.text-box h1,
.text-box p {
    color: #fff; /* Text color inside the header text-box */
}

.text-box .hero-btn {
    background-color: #333; /* Hero button background color */
}

.text-box .hero-btn:hover {
    background-color: #555; /* Hover color for hero button */
}

@media (max-width: 584px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container .photo img {
        width: 70vw;
    }

    .text-container .description {
        font-size: 4vw;
    }
}